body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    box-sizing: border-box;
    background-color: #2F2F40;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

section {
    background-color: #ccc;
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 10px;
}

h1 {
    font-family: 'Hanalei Fill', cursive;
    font-size: 50px;
    text-align: center;
}

form {
    margin: 0 auto;
    text-align: center;
}

.login, .register {
    background-color: #DE5B52;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    border: none;
    margin: 20px;
}

.register {
    width: 100px;
    text-align: center;
}

hr {
    background-color: #2F2F40;
    height: 8px;
    border: none;
    border-radius: 10px;
}

ul {
    height: 100%;
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

li {
    display: inline-block;
    height: 100%;
    background-color: rgba(0,0,0,.1);
    padding: 20px 40px 17px 40px;
    font-size: 20px;
}

li:hover {
    background-color: #DE5B52;
}

.right {
    float: right;
}

p {
    text-align: center;
    padding: 20px;
}

.right li {
    padding: 10px 20px;
}

.right li:hover {
    padding: 10px 20px;
    border-bottom: none;
}

.editBtn {
    cursor: pointer;
    border: 2px solid #2F2F40;
    color: black;
    font-size: 20px;
    margin: 10px;
    padding: 5px 10px;
}

.main, .subcat, .btn {
    padding: 20px 0px;
}

.main {
    font-weight: bold;
    font-size: 25px;
}

.adminPg {
    border: solid 1px red;
}

footer {
    width: 100%;
    box-sizing: border-box;
    background-color: #2F2F40;
    color: white;
    padding: 20px;
}