* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Slab', serif;
}

header {
    width: 100%;
    box-sizing: border-box;
    background-color: #F0ACCD;
    position: sticky;
    top: 0;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
    padding: 30px;
    color: #757470;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 30px;
}

ul {
    height: 100%;
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

li {
    display: inline-block;
    height: 100%;
    background-color: rgba(0,0,0,.1);
    padding: 30px 60px 27px 60px;
    font-size: 20px;
}

li:hover {
    background-color: #BBDEBB;
    border-bottom: 5px solid #BBDEBB;
    padding: 30px 60px 22px 60px;
    color: #757470;
}

.right {
    float: right;
}

p {
    text-align: center;
    padding: 20px;
}

.right li {
    padding: 10px 20px;
}

.right li:hover {
    padding: 10px 20px;
    border-bottom: none;
}

.editBtn {
    cursor: pointer;
    border: 2px solid #F0ACCD;
    color: black;
    font-size: 20px;
}

footer {
    width: 100%;
    box-sizing: border-box;
    background-color: #BBDEBB;
    color: white;
    padding: 20px;
    color: #757470;
}